[language-server.ruff]
command = "ruff"
args = ["server"]

[[language]]
name = "python"
language-servers = ["ruff"]

[[language]]
name = "nix"
auto-format = true
formatter = { command = "alejandra" }
language-servers = ["nil"]

[[language]]
name = "rust"
auto-format = true
language-servers = ["rust-analyzer"]
